alembic==0.8.8
bleach==1.4.3
blinker==1.4
cffi==1.8.3
click==6.6
coverage==4.2
cryptography==1.5.2
dominate==2.2.1
enum34==1.1.6
Flask==0.11.1
Flask-Bootstrap==3.3.7.0
Flask-Gravatar==0.4.2
Flask-HTTPAuth==3.2.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.0.0
Flask-Moment==0.5.1
Flask-PageDown==0.2.2
-e git+https://github.com/smurfix/flask-script.git@6ee7a6a2a0f26915107e8b16c2c7515898eca0d3#egg=Flask_Script
Flask-SQLAlchemy==2.1
Flask-SSLify==0.1.5
Flask-WTF==0.13
foreman==0.9.7
ForgeryPy==0.1
futures==3.0.5
gunicorn==19.6.0
heroku==0.1.4
html5lib==0.9999999
httpie==0.9.6
idna==2.1
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
Markdown==2.6.7
MarkupSafe==0.23
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.16
Pygments==2.1.3
pyOpenSSL==16.2.0
python-dateutil==1.5
python-editor==1.0.1
requests==2.11.1
requests-futures==0.9.7
six==1.10.0
SQLAlchemy==1.0.15
visitor==0.1.3
Werkzeug==0.11.11
WTForms==2.1
