<!DOCTYPE html>

<html lang="zh-zn">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Kevin Durant
    </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- Personal Style -->
    <link href="{{ url_for('static', filename='fcc-project/1/styles.css') }}" rel="stylesheet" type="text/css">
  </head>


  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">Kevin Durant</h1>
        <h2 class="text-center">Top Scorer and Defender</h2>
        <p class="text-left"><em>It really pains me to know that I will disappoint so many people with this choice, but I believe I am doing what I feel is the right thing at this point in my life and my playing career.</em></p>
        <p class="text-right">JUL 4 2016</p>
      </div>
    
      <div class="image col-center-block">
        <img src="{{ url_for('static', filename='fcc-project/1/durant.jpg') }}" class="img-rounded img-responsive">
        <p class="explain text-center">The second player from right side is Kevin.</p>
      </div>

      <div class="content text-left col-center-block">
        <p><strong>Awards and honors</strong></p>
        <ul>
          <li>NBA Most Valuable Player: 2014</li>
          <li>7x NBA All-Star: 2010, 2011, 2012, 2013, 2014, 2015, 2016</li>
          <li>5x All-NBA First Team: 2010, 2011, 2012, 2013, 2014</li>
          <li>All-NBA Second Team: 2016</li>
          <li>4x NBA scoring champion: 2010, 2011, 2012, 2014</li>
          <li>NBA All-Star Game MVP: 2012</li>
          <li>NBA Rookie of the Year: 2008</li>
          <li>NBA All-Rookie First Team: 2008</li>
          <li>NBA Rookie Challenge MVP: 2009</li>
        </ul>
        <p>If you have time, you should visit <a href="http://baike.baidu.com/link?url=gdZVHJZpCOSyns4zhLCKF6NobC_D7tlk4VWejcJcvn_82mTDB8AqJ8Z57W5YLBsfCR8qhkvgHrul6stEQAh1bIYyvpFfC02oFHr2ml8JidYm2ko-dB4SgdXjFa2cYRc0EyRDqeZVXHaYaA4Kgv9Lv_">this</a> to know more about him.</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>